<h3 style="text-align: center;">Error de servidor</h3>
<br />
<p>
  Lamentamos informarte de que el servidor ha muerto, un minuto de silencio por él. 
  Seguramente reviva en un rato, si eso vuelve a probar luego, los servidores son así de caprichosos.
</p>
<br />
<p>
  Si tienes alguna queja ponte en contacto con alguien (pinchando <a href="https://support.microsoft.com/en-us/gp/contactus81?Audience=Commercial" target="_blank">aquí</a> te abrirá una web en la que te van a ayudar mucho).
</p>
<br />
<p>
  De nada amigo, estamos para ayudarnos, ha sido un placer.
</p>